.header {
    padding: 35px 0;

    .header-wrap {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: map-get($colors, "violet");
    }

    .nav {
        margin: 0 0 0 auto;
        ul {
            display: flex;
            align-items: center;
        }

        li {
            margin-right: 50px;
            list-style: none;
            &:last-child {
                margin-right: 0;
            }
        }

        a {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            color: map-get($colors, "dark");
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.basket {
    cursor: pointer;
    margin: 0 55px 0 105px;
    display: flex;
    align-items: center;
    &__img-wrap {
        background-color: map-get($colors, "violet");
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
        border-radius: 30px;
        width: 84px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
    }

    &__img {
        position: relative;
        width: 21px;
        height: 21px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8788 4.00528C20.7586 3.82223 20.5652 3.70908 20.3551 3.69954L7.32856 3.10293C6.95481 3.08555 6.64248 3.39215 6.6265 3.78742C6.61061 4.18255 6.89869 4.51641 7.27066 4.53338L19.4153 5.08965L17.0274 13.0058H6.40101L4.48121 1.89903C4.439 1.6556 4.28171 1.45252 4.06478 1.36209L0.92046 0.0495794C0.573916 -0.0945795 0.182867 0.0862807 0.0467686 0.454043C-0.089095 0.822005 0.0810753 1.23775 0.427431 1.38236L3.22323 2.54937L5.17693 13.8511C5.23581 14.1909 5.51449 14.4377 5.83975 14.4377H6.16383L5.42379 16.6218C5.36185 16.8047 5.38737 17.0079 5.49278 17.1668C5.59805 17.3258 5.76926 17.4204 5.95202 17.4204H6.47108C6.14945 17.8007 5.95202 18.3015 5.95202 18.8522C5.95202 20.0366 6.85898 21 7.97338 21C9.08779 21 9.99475 20.0366 9.99475 18.8522C9.99475 18.3016 9.79732 17.8007 9.47573 17.4204H13.8828C13.561 17.8007 13.3637 18.3015 13.3637 18.8522C13.3637 20.0366 14.2704 21 15.385 21C16.4997 21 17.4064 20.0366 17.4064 18.8522C17.4064 18.3016 17.209 17.8007 16.8875 17.4204H17.5187C17.8289 17.4204 18.0802 17.1533 18.0802 16.8238C18.0802 16.4943 17.8288 16.2272 17.5187 16.2272H6.75094L7.35728 14.4375H17.5187C17.8117 14.4375 18.071 14.2363 18.1602 13.9401L20.9677 4.6331C21.0321 4.42068 20.999 4.18844 20.8788 4.00528ZM7.97343 19.807C7.47796 19.807 7.07502 19.379 7.07502 18.8525C7.07502 18.326 7.47796 17.8979 7.97343 17.8979C8.4689 17.8979 8.8718 18.326 8.8718 18.8525C8.8718 19.379 8.4689 19.807 7.97343 19.807ZM15.385 19.807C14.8896 19.807 14.4867 19.379 14.4867 18.8525C14.4867 18.326 14.8896 17.8979 15.385 17.8979C15.8805 17.8979 16.2834 18.326 16.2834 18.8525C16.2834 19.379 15.8805 19.807 15.385 19.807Z' fill='white'/%3E%3C/svg%3E%0A");
        span {
            position: absolute;
            top: 10px;
            right: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-weight: 600;
            font-size: 10px;
            color: map-get($colors, "violet");
            min-width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: map-get($colors, "white");
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 14px;
        color: map-get($colors, "dark");
    }

    &__amount {
        font-weight: 600;
        font-size: 16px;
        color: map-get($colors, "violet");
    }
}
