// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Museo Sans Cyrl';
  background-color: map-get($colors, 'main-bg');
  &.overflow {
    overflow: hidden;
  }

  .container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}