.main-section {
    padding: 50px 0;

    .main-content {
        display: flex;
        align-items: center;
    }

    .main-info {
        max-width: 500px;
        width: 100%;
    }
}

.main-title {
    font-weight: 600;
    font-size: 46px;
    line-height: 135%;
    color: map-get($colors, "dark");
    margin-bottom: 31px;
}

.main-subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    color: map-get($colors, "dark");
    max-width: 405px;
    width: 100%;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    min-width: 230px;
    font-size: 16px;
    text-align: center;
    color: map-get($colors, "dark");
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 21px;
    background: transparent;

    &:hover {
        color: map-get($colors, "white");
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
        background: linear-gradient(90deg, #6078ff 0%, #794cd6 100%, #794cd6 100%);
    }
}
