<header class="header">
    <div class="container">
        <div class="header-wrap">
            <a href="index.html" class="logo"></a>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Tariff</a>
                    </li>
                    <li>
                        <a href="#">Our services</a>
                    </li>
                    <li>
                        <a href="#">Feedback</a>
                    </li>
                </ul>
            </nav>
            <div class="basket">
                <div class="basket__img-wrap">
                    <div class="basket__img">
                        <span>3</span>
                    </div>
                </div>
                <div class="basket__wrap">
                    <span class="basket__title">Purchases at:</span>
                    <span class="basket__amount">$ 44,50</span>
                </div>
            </div>
        </div>
    </div>
</header>